{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script language="JavaScript" type="text/javascript" src="../static/js/board_updater.js"></script>
<script>
    function update() {
        updateGame({{current_game|tojson|safe}}, "{{client_team}}");
    }
</script>
<form action="{{ url_for('views.' + client_team) }}" method="POST")">
    <body onload="update()">
        <div id="all" style="display: none; flex-direction: row;">
            <div style="display: flex; flex-direction:column; margin: 20px; align-items: center;">
                <div style="display:flex; flex-direction:row; margin: 10px;">
                    <div class="card" style="background:rgb(255, 0,0)">
                        <a id="player_red_custom_name" style="color: rgb(255, 255, 255); font-size: medium; font-family: Arial; margin: 5px;
                        text-align: center; padding-left:10px; padding-right: 10px;">{{player_name_1}}</a>
                    </div>  
                    <div class="card" style="background:rgb(0, 30, 255)">
                        <a id="player_blue_custom_name" style="color: rgb(255, 255, 255); font-size: medium; font-family: Arial; margin: 5px;
                        text-align: center; padding-left:10px; padding-right: 10px;">{{player_name_2}}</a>
                    </div>
                </div>
                <div class="card" id="player_info_card" style="display: flex; flex-direction: column; justify-content: flex-start; height:auto; padding: 10px;">
                    <a class="team_text" style="color: rgb(255, 255, 255);">{{player_name}}</a>
                    <div style="display: flex; flex-direction: column;">
                        <a id="player_moves_left" style="color: rgb(255, 255, 255); font-size: medium; font-family: Arial;">Player's moves left:</a>
                        <a id="team_moves_left" style="color: rgb(255, 255, 255); font-size: medium; font-family: Arial;">Players moved:</a>
                        <a id="cards_left" style="color: rgb(255, 255, 255); font-size: medium; font-family: Arial;">Cards left: []</a>
                    </div>
                </div>
                <div id="duel_menu" style="display:none; flex-direction: column;flex:auto; padding: 10px;">
                    <div class="card" style="flex-direction: column; justify-content: center">
                        <a style="font-size: medium; font-family: Arial;">Duel!</a>
                        <a id="duel_info" style="font-size: medium; font-family: Arial;">Player 1 plackaged player 2</a>
                        <a style="font-size: medium; font-family: Arial;">Pick your card:</a>
                    </div>
                    <button class="card" id= "card_1" name="card_1" style="display:none">card 1</button>
                    <button class="card" id= "card_2" name="card_2" style="display:none">card 2</button>
                    <button class="card" id= "card_3" name="card_3" style="display:none">card 3</button>
                    <button class="card" id= "card_4" name="card_4" style="display:none">card 4</button>
                    <button class="card" id= "card_5" name="card_5" style="display:none">card 5</button>
                    <button class="card" id= "card_6" name="card_6" style="display:none">card 6</button>
                </div>
                </div>
            <div class="field">
                    <div class="board" id="board">
                        {% for row in range(8) %}
                        {% for col in range(13) %}
                        {% set color = "border" if col > 11 or col == 0 else ("white" if (col + row)%2==0 else "black") %}
                        <button class="{{color}}" id="{{row,col}}" name="square" value="{{row,col}}"></button>
                        {% endfor %}
                        {% endfor %}
                    </div>
            </div>
            <div style="display: flex; flex-direction:column; margin: 20px; align-items: center;">
                <div id="turn_card" class="card" style="display: flex; flex-direction: column; justify-content: flex-start; height:auto; padding: 10px;">
                    <a id="turn_text" class="team_text" style="color: rgb(255, 255, 255);"></a>
                </div>
                <button class="card" id= "ball_kick" name="ball_kick" style="display:none">Ball kick</button>
                <button class="card" id= "plackage" name="plackage" style="display:none">Plackage</button>
                <button class="card" id= "forced_passage" name="forced_passage" style="display:none">Forced passage</button>
                <button class="card" id= "move" name="move" style="display:none">Move</button>
                <button class="card" id= "pass" name="pass" style="display:none">Pass</button>
                <button class="card" id= "next_turn" name="next_turn" style="display:none">Next turn</button>
            </div>
        </div>
    </body>
</form>
{% endblock %}