{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="../static/board_actions.js"></script>
<div class="field">
    <div class="board" id="board" onclick="click_box(event)">
        <!-- 0 -->
        <div class="white" id="00">
            <img src="../static/circle-256.png" draggable="false"/>
        </div>
        <div class="black" id="10"></div>
        <div class="white" id="20"></div>
        <div class="black" id="30"></div>
        <div class="white" id="40"></div>
        <div class="black" id="50"></div>
        <div class="white" id="60"></div>
        <div class="black" id="70"></div>
        <div class="white" id="80"></div>
        <div class="black" id="90"></div>
        <div class="white" id="100"></div>
        <!-- 1 -->
        <div class="black" id="01"></div>
        <div class="white" id="11"></div>
        <div class="black" id="21"></div>
        <div class="white" id="31"></div>
        <div class="black" id="41"></div>
        <div class="white" id="51"></div>
        <div class="black" id="61"></div>
        <div class="white" id="71"></div>
        <div class="black" id="81"></div>
        <div class="white" id="91"></div>
        <div class="black" id="101"></div>
        <!-- 2 -->
        <div class="white" id="02"></div>
        <div class="black" id="12"></div>
        <div class="white" id="22"></div>
        <div class="black" id="32"></div>
        <div class="white" id="42"></div>
        <div class="black" id="52"></div>
        <div class="white" id="62"></div>
        <div class="black" id="72"></div>
        <div class="white" id="82"></div>
        <div class="black" id="92"></div>
        <div class="white" id="102"></div>
        <!-- 3 -->
        <div class="black" id="03"></div>
        <div class="white" id="13"></div>
        <div class="black" id="23"></div>
        <div class="white" id="33"></div>
        <div class="black" id="43"></div>
        <div class="white" id="53"></div>
        <div class="black" id="63"></div>
        <div class="white" id="73"></div>
        <div class="black" id="83"></div>
        <div class="white" id="93"></div>
        <div class="black" id="103"></div>
        <!-- 4 -->
        <div class="white" id="04"></div>
        <div class="black" id="14"></div>
        <div class="white" id="24"></div>
        <div class="black" id="34"></div>
        <div class="white" id="44"></div>
        <div class="black" id="54"></div>
        <div class="white" id="64"></div>
        <div class="black" id="74"></div>
        <div class="white" id="84"></div>
        <div class="black" id="94"></div>
        <div class="white" id="104"></div>
        <!-- 5 -->
        <div class="black" id="05"></div>
        <div class="white" id="15"></div>
        <div class="black" id="25"></div>
        <div class="white" id="35"></div>
        <div class="black" id="45"></div>
        <div class="white" id="55"></div>
        <div class="black" id="65"></div>
        <div class="white" id="75"></div>
        <div class="black" id="85"></div>
        <div class="white" id="95"></div>
        <div class="black" id="105"></div>
        <!-- 6 -->
        <div class="white" id="06"></div>
        <div class="black" id="16"></div>
        <div class="white" id="26"></div>
        <div class="black" id="36"></div>
        <div class="white" id="46"></div>
        <div class="black" id="56"></div>
        <div class="white" id="66"></div>
        <div class="black" id="76"></div>
        <div class="white" id="86"></div>
        <div class="black" id="96"></div>
        <div class="white" id="106"></div>
        <!-- 7 -->
        <div class="black" id="07"></div>
        <div class="white" id="17"></div>
        <div class="black" id="27"></div>
        <div class="white" id="37"></div>
        <div class="black" id="47"></div>
        <div class="white" id="57"></div>
        <div class="black" id="67"></div>
        <div class="white" id="77"></div>
        <div class="black" id="87"></div>
        <div class="white" id="97"></div>
        <div class="black" id="107"></div>
    </div>
</div>
{% endblock %}